body{
          color: rgba(255, 145, 0, 0.734);
          font-family: comic ;
          background-color: rgb(0, 217, 255);

}

.heading{
          font-size: 40px;
          font-weight: bolder;
         font-family: Arial, Helvetica, sans-serif;
          width: 80%;
}

.name_of_objects{
          color: rgb(255, 0, 0), 0, 0;
          font-size: 18px;
          font-weight: 500;
}
#camera{
border: 5px dashed darkgreen;
width: 350px;
height: 300px;
}

#result_object_name,#result_object_accuracy{
          color:rgb(255, 0, 0) ;
          font-family: 'Courier New', Courier, monospace;
          font-weight: bold;

}

